flask
flask-cors
numpy
opencv-python
torch
torchvision
transformers
Pillow
moviepy
requests
ultralytics
librosa
tensorflow
scikit-learn
torchaudio
whisper
tf-keras
pydub
textblob
opencv-python-headless
scenedetect
pytesseract
scipy
SpeechRecognition
av
tqdm
nltk
PyAV